
.imageGalery {
    overflow:hidden;
    width: 680px;
    height: auto;
}
.imageGalery img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.imageGalery img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.imageExample img {
    overflow:hidden;
    width: 90px;
    height:auto;
}
/*.image img {*/
    /*-moz-transition: all 1s ease-out;*/
    /*-o-transition: all 1s ease-out;*/
    /*-webkit-transition: all 1s ease-out;*/
/*}*/

/*.image img:hover{*/
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-o-transform: scale(1.1);*/
/*}*/